@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

:root {
  --preto: #000000;
  --white: #ffffff;

}

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--preto);
  color: #E88727;
}

.cabecalho {
  padding: 2% 0% 0% 10%;

}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;

}

.title {
  color: #ffffff
}

.apresentacao {
  padding: 5% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
}

.apresentacao__conteudo {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 600px;
  font-family: 'Open Sans', sans-serif;
}

.apresentacao__conteudo__title {
  font-size: 1.8rem;
}

.apresentacao__conteudo__sub__title {
  font-size: 1.5rem;
  color: #ffffff;
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;

}

.apresentacao__conteudo__subtitulo {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
}

.foto {
  width: 30%;

}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.apresentacao__links__link {
  border: 2px solid #E88727;
  width: 40%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 21.5px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;

}

.apresentacao__links__link:hover {
  background-color: #2f2d2d;
}

.rodape {
  text-align: center;
  background-color: #E88727;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 20px;
  width: 100%;
  color: rgb(91, 65, 14);

}

@media (max-width: 800px) {

  .cabecalho{
    padding: 3% 0% 0% 0%;
    margin: auto;
  }

  .cabecalho__menu {
    justify-content: center;
    gap: 40px;
  }
  .apresentacao {
    flex-direction: column-reverse;
    padding: 5% 5% 5% 5%;
  }

  .apresentacao__conteudo {
    
    width: auto;

  }

  .foto {
    width: 50%;
    padding: 5%;
  }

.rodape{
  margin: auto;
}  
}